html,
body,
#map {
  height: 100%;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

#map,
body,
html {
  position:absolute;
  height: 700px;
  width: 700px
}

.panel {
  margin-bottom: 20px;
}

.panel-heading {
  background-color:rgb(202, 199, 199);
  text-align:center;
  border-bottom-style: solid;
}

#map-container-fluid {
  position: center;
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
  border-bottom-color: gray;
  border-bottom-width: 4px;
}

#map-frame,
 .panel {
  height: 100%;
  width: 100%;
  position: relative;
  border-style: solid;
  border-color: gray;
  border-width: 5px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}