#map,
body,
html {
  position:static;
  height:100%;
  width: 100%;
  
}

.h1 {
  text-align: center;
}

.h3 {
  text-align: center;

}

.panel {
  margin-bottom: 20px;
}

.panel-heading {
  height: 50px;
  width: 200px;
  background-color:rgb(202, 199, 199);
  text-align:center;
  border-style: solid;
}

#state-metadata,
.panel-body {
  height:100px;
  width: 200px;
  border-style: solid;

}

#map-frame {
  height: 675px;
  width: 675px;
  position: static;
  border-style: solid;
  border-color: gray;
  border-width: 5px;
  
}

.main {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: black;
}
